FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-alt {
    font-size: 20;
    margin: 15;
}

.animate-button {
    animation-name: slide-up;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(30);
    }
    to {
        transform: translateY(0);
    }
}
