/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/

@import './theme/colors';
$btn-color: $primary;

@import '~@nativescript/theme/index';

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/

ActionBar {
  background: $secondary;
  color: white;
}

.drawer-container {
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  padding: 20;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn {
    width: 80%;
    font-size: 24px;
  }
}

.btn {
  width: 80%;
  padding: 0;
  border-radius: 5%;
  border-width: 2;
  z-index: 0;
  font-size: 20;
  &.btn-secondary {
    background: white;
    border-color: $disabled;
    color: darken($disabled, 30);
  }
}

.form {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.success {
  background: lighten($green, 10);
  color: $btn-text;
}

h1 {
  font-weight: bold;
  color: $primary;
  font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
}

.fail {
  background: lighten($red, 10);
  color: $btn-text;
}

.input-field {
  width: 80%;
  .label {
    color: $primary;
    font-weight: bold;
    font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
    font-size: 16;
  }
  .input {
    border-bottom-width: 2;
    border-color: $primary;
    width: 100%;
  }
}

.fa {
  font-family: 'FontAwesome', 'Font-Awesome';
}
